.calc-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.outer-square {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8d62d;
    width: 500px;
    height: 500px;
    padding: 5px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.5);

    @media(max-width: 530px) {
        width: 300px;
    height: 300px;
    }
}
.inner-square {
    background-color: white;
    width: 490px;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
    @media(max-width: 530px) {
        width: 290px;
    height: 290px;
    }
  
}

.leftwall {
    position: absolute;
    left: 15px;
    }
.rightwall {     
    position: absolute;
    right: 15px;
    }
.topwall {
    position: absolute;
    top: 15px;
    left:50%;
    }
.bottomwall {
    position: absolute;
    bottom: 15px;
    left: 50%;
    }

.inputs-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  
}