.calc-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.calc-component-header {
    text-align: center;
}

.inputs-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    align-items: center;
    justify-content: center;
    min-width: 50%;

    @media(max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: 425px) {
        grid-template-columns: repeat(1, 1fr);
    }
.wall-input-container {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;

    .wall-input {
padding: 5px;

    }
}
}

.calc-button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(254,216,35);
    color: white;
    border: none;
    font-weight: bold;
background: linear-gradient(90deg, rgba(254,216,35,1) 0%, rgba(242,86,78,1) 35%, rgba(131,236,254,1) 100%);
transition: all 200ms ease-in-out;
&:hover {
filter: brightness(110%);
}
}