@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

$fontColor: black;
$backgroundGrey: #f9f9f9;
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}