.header-container {
    position: relative;
    display: flex;
    align-items: center;
   justify-content: center;
    padding: 10px;
    height: 70px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.65);
}